*.csv
*.db
*.db-*
*.ez
.DS_store
/.fetch
/_build/
/assets/node_modules/
/cover/
/deps/
/doc/
/priv/static/assets/
/priv/static/cache_manifest.json
/tmp/
Naagm-*.tar
erl_crash.dump
npm-debug.log
secrets.exs
