.simple-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 420px;
    padding: 8px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-wrapper.has-error input {
    border: solid 1px var(--red);
}

.input-wrapper.has-error label {
    color: var(--red);
}

.save-the-date {
    padding: 35px;
    margin: auto;
}

.home-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    max-height: 100vh;
}

.image-grid img {
    max-height: 300px;
}

.home {
    gap: 32px;
}
