.main-nav {
    max-width: 400px;
}

.simple-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 520px;
    padding: 8px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

footer {
    margin-top: 32px;
    font-size: 14px;
    border-top: 1px solid var(--blue);
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    gap: 90px;
    justify-content: center;
}

footer div {
    text-align: center;
}

.bold {
    font-weight: 600;
}

.about > section {
    max-width: 800px;
}

.textarea-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.select-wrapper {
    display: flex;
    justify-content: space-between;
}

.rsvp-form textarea {
    width: 100%;
}

.rsvp-form input {
    border-radius: 3px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.input-wrapper input {
    max-height: 60px;
}

.input-wrapper.has-error input {
    border: solid 1px var(--red);
}

.input-wrapper.has-error label {
    color: var(--red);
}

.save-the-date {
    padding: 35px;
    margin: auto;
}

.photos-wrapper {
    align-items: center;
}

.sub-nav {
    background-color: var(--white);
    padding: 10px;
    max-width: 800px;
    border: solid 1px var(--blue);
}

.sub-nav a {
    color: var(--black);
}

.sub-nav .active {
    color: var(--blue);
}

.home-wrapper,
.portrait-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait,
.portrait-wrapper {
    border-radius: 100%;
}

.portrait {
    height: 500px;
    width: 500px;
}

.portrait-wrapper {
    height: 525px;
    width: 525px;
    border-style: dotted;
    border-color: var(--red);
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
}

.image-grid form {
    display: inline;
}

.image-grid button {
    font-size: 12px;
}

.image-frame {
    align-content: center;
    background: var(--white);
    border: solid 3px var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3px;
    text-align: center;
}

.image-frame a {
    color: var(--black);
}

.single-image img {
    max-width: 600px;
    align-self: center;
}

.home {
    gap: 32px;
}

.flash {
    background-color: var(--white);
    border-radius: 3px;
    left: 35px;
    padding: 5px;
    position: absolute;
    top: 35px;
    width: 200px;
}

.flash .error {
    color: var(--red);
}

.flash-title {
    display: flex;
    justify-content: space-between;
}

.guest-password-wrapper {
    align-items: center;
    background: white;
    border-radius: 3px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    padding: 3px;
}

.guest-password-wrapper.focused {
    outline: solid 1px black;
}

.guest-password-wrapper input {
    border: none;
    flex: 1;
    margin-left: 5px;
    max-width: 170px;
}

.guest-password-wrapper input:focus {
    outline: none;
}

.guest-password-wrapper .button {
    width: 40px;
}

.sunset-bg {
    background-image: url("https://d33j1my2155sn6.cloudfront.net/uploads/sunset.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.default-bg {
    background-color: var(--orange);
}

.login-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
}

.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.huge {
    font-size: 40px;
}

.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.button {
    font-size: 32px;
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 3px;
}

.button:hover {
    cursor: pointer;
    border-color: var(--blue);
}

a.button {
    text-align: center;
    width: 200px;
}

p a.button {
    font-size: var(--font-size-medium);
}

.upload-entries {
    flex-direction: row;
}

.upload-entry img {
    max-height: 500px;
}

.upload-form {
    text-align: center;
}

.upload-form input {
    border: none;
}

.rsvp-response {
    font-weight: 450;
    font-size: 20px;
    width: fit-content;
    margin: 16px;
}

.admin-guest-wrapper table {
    width: 100%;
    background: var(--blue);
}

.admin-guest-wrapper tr {
    background-color: var(--white);
}

.admin-guest-wrapper td {
    padding: 5px;
}

.sun {
    width: 150px;
    height: 150px;
    position: relative;
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1) 40%, transparent 65%);
    mask-image: radial-gradient(rgba(0, 0, 0, 1) 40%, transparent 65%);
    border-radius: 50%;

    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: center;
        border-radius: 50%;
        -webkit-mask-image: radial-gradient(
            rgba(0, 0, 0, 1) 40%,
            transparent 65%
        );
        mask-image: radial-gradient(rgba(0, 0, 0, 1) 40%, transparent 65%);
    }

    &::before {
        background: repeating-conic-gradient(
            from 0deg,
            yellow 0deg 20deg,
            transparent 20deg 40deg
        );
        animation:
            rotate 720s linear,
            scale 3s linear infinite;
    }

    &::after {
        background: radial-gradient(
                yellow,
                orange 27%,
                transparent calc(27% + 3px) 100%
            ),
            radial-gradient(gold, transparent 70%),
            repeating-conic-gradient(
                from 0deg,
                gold 0deg 5deg,
                transparent 5deg 10deg
            );
        transform: rotate(15deg);
        animation: rotate 360s linear;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(0.8);
    }
    60% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width: 700px) {
    .image-grid img {
        height: 420px;
    }
}

@media (max-width: 630px) {
    nav {
        justify-content: space-around;
    }

    .sub-nav {
        flex-direction: column;
    }

    .portrait {
        height: 300px;
        width: 300px;
    }

    .portrait-wrapper {
        height: 317px;
        width: 317px;
    }

    .input-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 430px) {
    .sun {
        width: 100px;
        height: 100px;
    }

    .portrait {
        height: 220px;
        width: 220px;
    }

    .portrait-wrapper {
        height: 237px;
        width: 237px;
    }
}
