.simple-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 520px;
    padding: 8px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.textarea-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rsvp-form textarea {
    width: 100%;
}

.rsvp-form input {
    border-radius: 3px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.input-wrapper input {
    max-height: 60px;
}

.input-wrapper.has-error input {
    border: solid 1px var(--red);
}

.input-wrapper.has-error label {
    color: var(--red);
}

.save-the-date {
    padding: 35px;
    margin: auto;
}

.home-wrapper,
.portrait-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait,
.portrait-wrapper {
    border-radius: 100%;
}

.portrait {
    height: 500px;
    width: 500px;
}

.portrait-wrapper {
    height: 525px;
    width: 525px;
    border-style: dotted;
    border-color: var(--red);
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
}

.image-frame {
    align-content: center;
    background: var(--white);
    border: solid 3px var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3px;
    text-align: center;
}

.image-frame a {
    color: var(--black);
}

.single-image img {
    max-width: 600px;
    align-self: center;
}

.home {
    gap: 32px;
}

.flash {
    background-color: var(--white);
    border-radius: 3px;
    left: 35px;
    padding: 5px;
    position: absolute;
    top: 35px;
    width: 200px;
}

.flash .error {
    color: var(--red);
}

.flash-title {
    display: flex;
    justify-content: space-between;
}

.guest-password-wrapper {
    align-items: center;
    background: white;
    border-radius: 3px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    padding: 3px;
}

.guest-password-wrapper.focused {
    outline: solid 1px black;
}

.guest-password-wrapper input {
    border: none;
    flex: 1;
    margin-left: 5px;
    max-width: 170px;
}

.guest-password-wrapper input:focus {
    outline: none;
}

.sunset-bg {
    background-image: url("https://d33j1my2155sn6.cloudfront.net/uploads/sunset.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.default-bg {
    background-color: var(--orange);
}

.login-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
}

.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.button {
    font-size: 32px;
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 3px;
}

.button:hover {
    cursor: pointer;
    border-color: var(--blue);
}

.upload-entries {
    flex-direction: row;
}

.upload-entry img {
    max-height: 500px;
}

.upload-form input {
    border: none;
}

.rsvp-response {
    font-weight: 450;
    font-size: 20px;
}

@media (min-width: 700px) {
    .image-grid img {
        height: 420px;
    }
}

@media (max-width: 630px) {
    .portrait {
        height: 300px;
        width: 300px;
    }

    .portrait-wrapper {
        height: 317px;
        width: 317px;
    }

    .input-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 430px) {
    .portrait {
        height: 200px;
        width: 200px;
    }

    .portrait-wrapper {
        height: 217px;
        width: 217px;
    }
}
