:root {
    --font-size-big: 20px;
    --font-size-medium: 15px;
    --font-size-small: 12px;
    --black: #1f0021;
    --orange: #e09f3e;

    --red: #540b0e;
    --red-highlight: #9e2a2b;
    --white: #fff3b0;
    --blue: #335c67;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--black);
    height: 100%;
}

h1 {
    font-size: var(--font-size-big);
    text-align: center;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

main,
nav {
    margin: 50px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 7px;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}

input {
    border-radius: 3px;
}

textarea,
select,
input,
button,
.button {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: none;
    max-width: 100%;
    display: inline-block;
}
textarea,
select,
input {
    color: var(--black);
    border: 1px solid var(--black);
}

section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 16px;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--blue);
}

header a {
    color: var(--white);
    font-size: 32px;
}

header a.active {
    color: var(--orange);
}
