:root {
    --font-size-big: 20px;
    --font-size-medium: 15px;
    --font-size-small: 12px;
    --black: #434343;
    --orange: orange;
    --red: red;
    --white: #f8f8f8;
    --blue: #0d47a1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-family: "Roboto", sans-serif;
    background-color: var(--orange);
    color: var(--black);
}

h1 {
    font-size: var(--font-size-big);
    text-align: center;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

main,
nav {
    margin: 10px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 7px;
}

input {
    border-radius: 3px;
}

textarea,
select,
input,
button,
.button {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: none;
    max-width: 100%;
    display: inline-block;
}
textarea,
select,
input {
    color: var(--black);
    border: 1px solid var(--black);
}

section {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 800px) {
    main,
    nav {
        margin: 50px;
    }
}
